<div class="addPlanetForm">
<form action="/planets/create"  method="POST">
    <input value="name" name="name">
     <input value="image_url" name="image_url">
      <input value="diameter" name="diameter">
       <input value="distance" name="distance">
       <input value="mass" name="mass">
       <input value="moons" name="moon_count">
       <input type="submit" value="New Planet"/>
</form>
</div>